<div class="signup">
  <div class="container">
    
    <!-- Your form here -->
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    
      <%= f.label :email %>
      <%= f.email_field :email %>
    
      <%= f.label :password %>
      <%= f.password_field :password %>
    
      <%= f.submit "Create my account" %>
    <% end %>

  </div>
</div>